* {
    margin:0; 
    padding:0;
    box-sizing:inherit;
}

html {
    overflow: hidden;
    font-family: DM Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
}

body {
    font-weight: 400;
    line-height: 1.5;
}

.hero {
    min-height: 100vh;
    background-color: #485fc7;
    color: #fff;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-body {
    align-items: center;
    display:block;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3rem 1.5rem;
}

.hero p {
  padding: 1em 0;
}

@media screen and (min-width: 769px), print {
    .hero-body {
      padding: 3rem 3rem;
    }
  }
  
  section {
    padding: 3rem 1.5rem;
  }
  
  @media screen and (min-width: 1024px) {
    section {
      padding: 3rem 3rem;
    }
  }

  .round-button {
    padding: 1em 3.5em;
    border: 0;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
  }
    
    .round-button:hover {
      box-shadow: inset 0 -3px 0 rgba(0,0,0,0.15);
    }
    
    .round-button:active {
      transform: translateY(1px);
      box-shadow: inset 0 3px 0 0 rgba(0,0,0,0.15);
    }
    
    .round-button:focus {
      outline: none;
    }
  